<h1> {{user.name}} has bunked {{user.times_bunker}} and has been bunked {{user.times_bunkee}}</h1>

<h3> has bunked </h3>
<ul>
    {% for choice in user.bunks_out.all %}
        <li>
            <a href="/bunk/{{choice.pk}}"> {{choice.bunkee.name}} </a> {{choice.time}}
        </li>
    {% endfor %}
</ul>

<h3> has been bunked by </h3>
<ul>
    {% for choice in user.bunks_in.all %}
        <li>
            <a href="/bunk/{{choice.pk}}"> {{choice.bunker.name}} </a>
            {{choice.time}}
        </li>
    {% endfor %}
</ul>
